
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Star ratings
@import "ratings";

.navbar a {
  font-weight: bold;
  font-size: 1.2em;
}

.pager {
  margin: 0; 
}

